@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Figtree', sans-serif;
  font-style: normal;
}

.primary_btn {
  background-color: #c5b358;
}

.primary_btn:hover {
  background-color: #c7b84d;
}

.primary_btn:focus {
  background-color: #c7b84d;
}

.primary_btn:active {
  background-color: #c7b84d;
}
